<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author List</title>
</head>
<body>
    <h1>Author List</h1>
    <%- include('refactor/menu') %>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Jumlah Buku</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach( (author, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= author.name %></td>
                    <td><%= author.age %></td>
                    <td><%= author.gender %></td>
                    <td><%= author.Books.length %></td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>